{% extends 'base.html' %}
{% include 'interfaceMacros.html' %}
{% include 'svg.html' %}
{% include 'formMacros.html' %}

{% block main %}

  <div class="block page">
		{{ globalMenu() }}
		{{ pageMenu() }}
    <div class="inner">

      <button class="a2-shell edit-office-button hide-on-preview" data-open="edit-office" data-preview-target>Edit Office</button>

      <div class="overlay"></div>

      {% include 'screens/newPage.html' %}
      {% include 'screens/office.html' %}
      {% include 'screens/manageOffice.html' %}

  </div>

  <div class="overlay-preview"></div>
{% endblock %}