{% extends 'base.html' %}
{% include 'interfaceMacros.html' %}
{% include 'svg.html' %}
{% include 'formMacros.html' %}

{% block main %}
	{% set items = ['Projects', 'Timeline', 'People', 'Tags', 'My Account']%}
  <div class="block">
  	<div class="a2-shell admin-global">
  		<a class="admin-global-trigger" data-global-trigger>{{ a() }}</a>{#
  		#}<ul class="admin-global-items">{#
  			#}{%- for item in items -%}
					<li><a class="admin-global-item" data-item>{{ item }}</a></li>	
  			{%- endfor -%}{#
  		#}</ul>
  	</div>
    <div class="inner">

      <button class="major" data-open="new-page">New Page</button>

      <button class="major" data-open="edit-office">Edit Office</button>

      <div class="overlay"></div>

      {% include 'screens/newPage.html' %}
      {% include 'screens/office.html' %}

  </div>
{% endblock %}