{% macro screenHeader(contentType, screenName, options) %}
  <div class="header clearfix" data-close-preview>
    <div class="inner">
      <div class="header__controls">
        <button class="hide-on-preview" data-close="{{ screenName }}">Cancel</button>
        <button class="major hide-on-preview" {{ options.mainButtonAttr }}>{{ options.label if options.label else ('Create ' + contentType )}}</button>
      </div>
      <div class="clearfix header__info">
        {% if options.preview %}
          <i class="fa fa-eye fa-2x header__preview-button" data-preview-control></i>
        {% endif %}
        <h2 class="header__title">{{ options.mainLabel or ('New ' + contentType) }}</h2>
        <p class="header__instructions">
          Authors often misinterpret the waterfall as a strongish gorilla, when in actuality it feels more like a misused flavor.
        </p>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro tabs(items, options) %}
  <div class="tabs-container height-100">
    {% for item in items %}
      <div class="tab {{ 'tab--active' if loop.first else '' }}">{{ item }}</div>
    {% endfor %}
  </div>
  {% if not options.hideControls %}
    <div class="tab__controls">
      <div class="tab__add">+</div><div class="tab__subtract">-</div>
    </div>
  {% endif %}
{% endmacro %}

{% macro globalMenu(items) %}
  {% if not items %}
    <div class="a2-shell admin-global a2-global-control">
      <a class="admin-global-trigger" data-global-trigger>{{ a() }}</a>{#
    #}<ul class="admin-global-items">
        <li><a class="admin-global-item" data-open="manage-offices">Offices</a></li>
        <li><a class="admin-global-item" data-open="edit-office">Timeline</a></li>
        <li><a class="admin-global-item" data-open="edit-office">People</a></li>
        <li><a class="admin-global-item" data-open="edit-office">Tags</a></li>
        <li><a class="admin-global-item" data-open="edit-office">My Account</a></li>
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro pageMenu(args) %}
  <div class="a2-shell page-settings a2-global-control">
    <button class="page-trigger" data-open="new-page">Page Settings</button>
  </div>
{% endmacro %}