{% macro screenHeader(contentType, screenName, options) %}
  <div class="header clearfix">
    <div class="inner">
      <div class="header__controls">
        <button class="hide-on-preview" data-close="{{ screenName }}">Cancel</button>
        <button class="major hide-on-preview">Create {{ contentType }}</button>
      </div>
      {% if options.preview %}
        <i class="fa fa-eye fa-2x header__preview-button" data-preview-control></i>
      {% endif %}
      <h2 class="header__title">New {{ contentType }}</h2>
    </div>
  </div>
{% endmacro %}

{% macro tabs(items, options) %}
  <div class="tabs-container height-100">
    {% for item in items %}
      <div class="tab {{ 'tab--active' if loop.first else '' }}">{{ item }}</div>
    {% endfor %}
  </div>
  {% if not options.hideControls %}
    <div class="tab__controls">
      <div class="tab__add">+</div><div class="tab__subtract">-</div>
    </div>
  {% endif %}
{% endmacro %}

{% macro globalMenu(items) %}
  {% if not items %}
    {% set items = ['Projects', 'Timeline', 'People', 'Tags', 'My Account'] %}
    <div class="a2-shell admin-global a2-global-control">
      <a class="admin-global-trigger" data-global-trigger>{{ a() }}</a>{#
      #}<ul class="admin-global-items">{#
        #}{%- for item in items -%}
          <li><a class="admin-global-item" data-open="edit-office">{{ item }}</a></li>
        {%- endfor -%}{#
      #}</ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro pageMenu(args) %}
  <div class="a2-shell page-settings a2-global-control">
    <button class="page-trigger" data-open="new-page">Page Settings</button>
  </div>
{% endmacro %}